#id_preview{
	width: 100%;
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

@media (max-width: 1400px){
	#id_preview{
		object-fit: cover;
		height: 95vh;
	}
	#preview_text_1{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align:center;
		color: white;
		font-family: 'Montserrat',Verdana,sans-serif; 
		font-style: normal;
		font-weight: bold;
		font-size: 14vw;
	}
	#preview_text_2{
		position: absolute;
		top: 88%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align:center;
		color: white;
		font-family: 'Montserrat',Verdana,sans-serif; 
		font-style: normal;
		font-weight: bold;
		font-size: 2vh;
		text-shadow: 1px 1px 5px rgb(0, 0, 0);
	}
	.arrow-bottom {
		position: absolute;
		top: 5%;
		left: 28%;
		width: 7vh;
		height: 7vh;
		border-top: 5px solid #ffffff;
		border-right: 5px solid #ffffff;
		transform: rotate(135deg); 
	}
}

@media (min-width: 1400px){
	#preview_text_1{
		display:none;
	}
	#preview_text_2{
		display:none;
	}
	.arrow-bottom {
		display:none;
	}
}

/* Надпись #1 История и полоска под ней */
.line1-box{
	padding: 4% 0px 0px 0px;
	margin-left: 50%;
	position: relative;
}
.line1-box:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #C8AE6F;
}
.line1{
	font-family: 'Montserrat',Verdana,sans-serif; 
	font-weight: 700;
	text-align:left;
	color: #C8AE6F;
	font-size: 25px;
}

/* Блок текста №1 */
.paragraph01 {
	padding: 1% 0px 4% 0px;
	overflow: hidden
}
.paragraph01-paragraph1 {
	padding: 0px 10% 0px 13%;
}
.paragraph1 {
	padding: 0px 10% 0px 13%;
	text-align:justify;
	text-align-last:left;
	font-family: 'Montserrat',Verdana,sans-serif; 
	font-weight: 400;
	font-size: 23px;
	text-indent: 25px;
	display: flex; /* Чтобы картинка и текст были на одной линии */
	justify-content: center; /* Чтобы картинка и текст были на одной линии */
	align-items: center; /* Чтобы картинка и текст были на одной линии */
}

/* Блок фотографий*/
.photos {                         /* расположение блока */
	text-align: center;
	padding: 50px 0px 50px 0px; /* top | right | bottom | left */
	overflow: hidden; 
	background-color: rgba(249, 223, 168, 0.2);
}

.photos picture {              
	width: 25%;                /* отвечает за кол-во фоток в ряд */
	display: block;
	float: left;
	line-height: 0;
}
.photos img {          /* Размер фоток */
	width: 100%;
	height: auto;
	max-height: 300px;
	aspect-ratio: 16/10;
}
.photos a:hover{     /* стиль для появления тени */
    color: #111; 
    background: black; 
    box-shadow: 0 0 50px black; 
}
.scale {            /* стиль для увеличения картинок */
    transition: 1s; /* Время эффекта */
   }
.scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}
   
.paragraph02 {
	padding: 4% 0px 4% 0px; /* Отступы сверху, снизу и слева, справа */
}
.paragraph02-paragraph2 {
	padding: 0px 13% 0px 10%;
}
.paragraph2 {
	padding: 0px 13% 0px 10%;
	text-align: justify;
	text-align-last:left;
	font-family: 'Montserrat',Verdana,sans-serif; 
	font-weight: 400;
	font-size: 23px;
	display: flex; /* Чтобы картинка и текст были на одной линии */
	justify-content: center; /* Чтобы картинка и текст были на одной линии */
	align-items: center; /* Чтобы картинка и текст были на одной линии */
}

/* Надпись #2 Участники и полоска под ней */
.line2-box{
	padding-right: 50%;
	position: relative;
}
.line2-box:after{
	content: "";
	position: absolute;
	width: 50%;
	height: 2px;
	background-color: #C8AE6F;
}
.line2{
	font-family: 'Montserrat',Verdana,sans-serif; 
	font-weight: 700;
	text-align:right;
	color: #C8AE6F;
	font-size: 25px;
}

/* Responsive image gallery https://by9sfe.csb.app/ и https://blog.logrocket.com/responsive-image-gallery-css-flexbox/ */
.container_photos_people {
	padding: 1% 10% 4% 10%; /* Отступы сверху, снизу и слева, справа */
}
ul {
	list-style: none; /* Отменяет маркеры для списка */
	padding-inline-start: 0px; /* Убирает базовый для списков отступ слева */
}
.image-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px; /* Расстояние между фотографиями */
}
.image-gallery > li {
	flex-basis: 200px; /* = width: 200px; */
	position: relative;
}
/*.image-gallery::after {
	content: "";
	flex-basis: 200px;
}*/
.image-gallery li img {
	object-fit: cover;
	max-width: 100%;
	height: auto;
	aspect-ratio: 3/4; /* Ширина к высоте */
	vertical-align: middle;
	border-radius: 25px;  /* Скругление фотографий */
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(57, 57, 57, 0.502);
	top: 0;
	left: 0;
	transform: scale(0);
	transition: all 0.2s 0.1s ease-in-out;
	color: #fff;
	text-align: center;
	border-radius: 25px;
	/* center overlay text */
	display: flex;
	align-items: center;
	justify-content: center;
}
.image-gallery li:hover .overlay {
	transform: scale(1);
}

/* Блок pdf */
.container_pdf {
	padding: 1% 10% 1% 10%; /* Отступы сверху, снизу и слева, справа */
}
ul {
	list-style: none; /* Отменяет маркеры для списка */
	padding-inline-start: 0px; /* Убирает базовый для списков отступ слева */
}
.pdf-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px; /* Расстояние между фотографиями */
}
.pdf-gallery > li {
	flex-basis: 300px; /* = width: 300px; */
	position: relative;
	cursor: alias;
} 
/*.pdf-gallery::after {
	content: "";
	flex-basis: 240px;
}*/
.pdf-gallery li img {
	object-fit: cover;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	padding: 10px; /* Расстояние от картинки до рамки */
	background: #666; /* Цвет фона */
}
.overlay_pdf {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(57, 57, 57, 0.502);
	top: 0;
	left: 0;
	transform: scale(0);
	transition: all 0.2s 0.1s ease-in-out;
	color: #fff;
	text-align: center;
	/* center overlay text */
	display: flex;
	align-items: center;
	justify-content: center;
}
.pdf-gallery li:hover .overlay_pdf {
	transform: scale(1);
}

/* Гора внизу */
#id_mountain{
	position: relative;
}
/* Прозрачность горы внизу */
#id_mountain img{
	opacity: 0.5;
}

/* Текст на горе внизу слева */

.id_mountain_text_1 a{ /* неактивная/непосещенная ссылка */
	position: absolute;
	bottom: 3%; /* Отступ снизу относительно картинки */
	left: 5%; /* Отступ слева относительно картинки */
	font-family: 'Montserrat',Verdana,sans-serif; 
	font-weight: 400;
	color: white;
	font-size: 100%;
	text-decoration: none; /* Отменяет все эффекты перечёркивания текста */
}
.id_mountain_text_1 a.text:active{ /* Активная/посещенная ссылка */
	position: absolute;
	bottom: 3%; /* Отступ снизу относительно картинки */
	left: 5%; /* Отступ слева относительно картинки */
	font-family: 'Montserrat',Verdana,sans-serif; 
	font-weight: 400;
	color: white;
	font-size: 100%;
	text-decoration: none; /* Отменяет все эффекты перечёркивания текста */
}


/* Текст на горе внизу справа */
.id_mountain_text_2{
	position: absolute;
	bottom: 3%; /* Отступ снизу относительно картинки */
	right: 5%; /* Отступ справа относительно картинки */
	font-family: 'Montserrat',Verdana,sans-serif; 
	font-weight: 400;
	color: white;
	font-size: 100%;
}