/* CSS стиль всего сайта: верхнего меню и кнопки прокрутки */
* {box-sizing: border-box}

body, html {
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

/* Style tab links */
/* Создание подчёркивания https://stylecss.ru/effekty-pri-navedenii-na-tekst-css/ */
.tablink {
  background-color: #ECD78F;
  color: white; /* Цвет обычной ссылки */
  position: relative;
  text-decoration: none; /* Убираем подчеркивание */
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 16px;
  font-family: Verdana,Geneva,sans-serif; 
  font-size: 24px;
  width: 33.333%;
}

/* Создание линии */
.tablink:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: 0.5s; /* Время эффекта */
}

/* Линия при наведении */
.tablink:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 5px; /* Высота линии */
    background-color: #CC9933; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  background: linear-gradient(to top, #FEFCED, #FFFFFF);
  background-color: #fefcea;  /*Для старых браузеров */
}

/* Плавающая кнпока https://snipp.ru/jquery/up-down#link-knopka-vniz */
#scroll_top {
	display: none;
	position: fixed;
	bottom: 4%;
	right: 2%;
	z-index: 1000;
	width: 35px;
	height: 35px;
	background: url(images/strelka.png) 50% 50% no-repeat;
	border-radius: 50%;
	opacity: 0.9;

}
#scroll_top:hover {
 	opacity: 1;
}

/* Изменить цвет тени у контроли управления видео */
video::-webkit-media-controls-panel {
  background-image: linear-gradient(transparent, #aaa683 80%, #FEFCED 90%) !important;
}
